@font-face {
    font-family: Fuente;
    src: url("./Fuentes/JUST_Sans_Regular.otf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #62E7EE;
}

section {
    margin-left: 1rem;
    margin-right: 1rem;
}


.hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.titulo {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.bloque {
    display: flex;
    justify-content: space-around;
    background-color:  #21306b;
    border-radius: 15px;
}




@media screen and (max-width: 550px) {
    .titulo {
        font-size: 25px;
    }

    .bloque {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .bloque.invert {
        flex-direction: column;
    }

    .bloque .text {
        width: auto;
        padding-left: 23px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
     .bloque .text p{
        padding-left: 10px;
    }
}

@media screen and (min-width: 550px) {
    .titulo {
        font-size: 50px;
    }

    .bloque {
        flex-direction: row;
        margin-bottom: 35px;
    }

    .bloque.invert {
        flex-direction: row-reverse;
    }

    .bloque .text {
        width: 100%;
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    .bloque .text .title {
        text-align: center;
        padding-top: 10px;
        margin-top : -40px;
        margin-bottom: -30px;
        font-size: 40px;
    }

    .bloque .text h4 {
        margin-top : -0px;
        margin-bottom: -0px;
        padding: 10px 0px 10px 0px;
        font-size: 30px;
    }

    .bloque .text p {
        margin-top : -0px;
        margin-bottom: -0px;
        padding-left: 30px;
        font-size: 25px;
    }
}